@charset "UTF-8";

/*숙박 상세정보 전체*/
.shop_cont{
	width: 1000px;
	height: 100%;
	text-align: center;
	margin-left: -100px;
	margin-bottom: 60px;
}

.shop_name hr{
	width: 1050px;
	text-align: center;
	margin-left: 350px;
	border: 1px solid;
}


/*숙박업체 사진 및 정보*/
.shop_cont_top{
	display: flex;
}

.shop_photo{
	width: 100px;
	height: 60px;
	margin-left: 350px;
	margin-top: 15px;
	
}

.shop_info{
	width: 100%;
	display: flex;
}
.info_cate{
	width: 200px;
	margin-left: 450px;
	list-style: none;
}
.info_cont{
	width: 400px;
	list-style: none;
	
}

.info_cate li{
	text-align: left;
	margin-bottom: 30px;
}

.info_cont li{
	text-align: left;
	margin-bottom: 30px;
}
.shop_info_event img{
	width: 450px;
	height: 100px;
	background-color: blue;
	margin-left: 940px;
	margin-top: -30px;
	border-radius: 10px;
}

/* 내용 */
.shop_info_cont{
	width: 1050px;
	height: 100%;
	margin-top: 40px;
	border: 1px solid black;
	margin-left: 350px;
}
.shop_info_cont input[type=radio] {
	display: none;
}
#service:checked ~ .tab label:nth-child(1),
#information:checked ~ .tab label:nth-child(2),
#cancellation:checked ~ .tab label:nth-child(3),
#map:checked ~ .tab label:nth-child(4) ,
#review:checked ~ .tab label:nth-child(5) {
	background-color: black;
	color: white;
  box-shadow: none;
}
.content > div {
	display: none;
}
#service:checked ~ .shop_content div:nth-child(1),
#information:checked ~ .shop_content div:nth-child(2),
#cancellation:checked ~ .shop_content div:nth-child(3),
#map:checked ~ .shop_content div:nth-child(4) ,
#review:checked ~ .shop_content div:nth-child(5) {
	display: block;
}
.tab {
  overflow: hidden;
}
.tab label {
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 20%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
}

.content-dis{
	margin-bottom: 50px;
	margin-top: 50px
}
.shop_info_cont hr{
	border: 1px solid #303030;
	border-width: thin;
	margin-top: -1px;
	transform: scaleY(0.5);
}

/*객실정보*/
.acc_room_list{
	width: 900px;
	margin-left: -280px;
}

.acc_room_list h3{
	margin-left: -80px;
}

.acc_room_list hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}
.room_list {
	margin-left: 350px;
	margin-top: 20px;
	display: flex;
	width: 100%;
}
.room_list img{
	width: 300px;
	height:230px;
	
}


.room_info{
	width: 600px;
	height: 230px;
	border: 1px solid lightgray;
	margin-left: 10px;
	display: flex;
}
.room_detailinfo {
	width: 400px;
	list-style: none;
	margin-top: 30px;
	margin-left: 60px;
}

.room_detailinfo p{
	width: 280px;
	margin-bottom: 20px;
	color: gray;
	text-align: center;
	font-size: 11pt;
}

.booking_button h2{
	margin-left: 20px;
}

.booking_button{
	margin-top: 25px;
	margin-left: 50px;
}
.booking_button input{
	width: 150px;
	height: 50px;
	font-size: 10pt;
	margin-left: 20px;
	border-radius: 10px;
	margin-top: 15px;
	
}


/* 호텔정책 */
.acc_policy{
	width: 900px;
	margin-left: -280px;
}
.acc_policy h3{
	text-align: left;
	margin-left: 360px;
}
.acc_policy hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}

.acc_policy li{
	margin-top: 5px;
	text-align: left;
	margin-left: 440px;
	list-style: none;
	font-size: 12pt;
}

/*호텔소개*/
.acc_introduce{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}
.acc_introduce h3{
	text-align: left;
	margin-left: 360px;
}
.acc_introduce hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}
.acc_introduce li{
	margin-top: 5px;
	text-align: left;
	margin-left: 440px;
	list-style: none;
	font-size: 12pt;
}
.acc_introduce label{
	background-color: pink;
	
}

/*판매자 정보*/
.seller_info{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}
.seller_info h3{
	text-align: left;
	margin-left: 360px;
}
.seller_info hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}
.seller_info p{
	margin-top: 15px;
	text-align: left;
	margin-left: 480px;
	font-size: 12pt;
}

/*지도 상세보기*/
.acc_map{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}
.acc_map h3{
	text-align: left;
	margin-left: 360px;
	margin-top: 60px;
}
.acc_map hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}
.acc_map .map{
	width: 850px;
	height: 600px;
	border: 1px solid;
	margin-left: 375px;
	margin-top: 40px;
}

/* 교통안내 */
.guide{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}
.guide h3{
	text-align: left;
	margin-left: 360px;
	margin-top: 60px;
}
.guide hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}

.guide h4{
	margin-left: 380px;
	text-align: left;
}

/*이용안내/취소규정*/
.cancellation_policy{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}
.cancellation_policy h3{
	text-align: left;
	margin-left: 360px;
	margin-top: 60px;
}
.cancellation_policy hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}
.common_policy{
	background-color: #e0e0e0;
	width: 900px;
	height: 35px;
	margin-left: 350px;
	padding-top: 15px;
}
.common_policy p{
	font-size: 13pt;
	font-weight: bold;
	margin-left: -770px;
	margin-top: -5px;
}

.cancellation_policy li{
	width: 850px;
	margin-top: 5px;
	text-align: left;
	margin-left: 330px;
	list-style: none;
	font-size: 12pt;
}
.cancellation_policy h4{
	color: gray;
}

.refund_process{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}

.refund_process h4{
	text-align: left;
	margin-left: 360px;
	margin-top: 80px;
}
.refund_process hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}

.refund_process li{
	width: 850px;
	margin-top: 5px;
	text-align: left;
	margin-left: 330px;
	list-style: none;
	font-size: 10pt;
}
.refund_process p{
	font-weight: bolder;
}
.receipt_issuing{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}
.receipt_issuing h4{
	text-align: left;
	margin-left: 360px;
	margin-top: 80px;
}
.receipt_issuing hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}

.receipt_issuing li{
	width: 850px;
	margin-top: 5px;
	text-align: left;
	margin-left: 330px;
	list-style: none;
	font-size: 10pt;
}
.CS_numbder{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}
.CS_numbder h4{
	text-align: left;
	margin-left: 360px;
	margin-top: 80px;
}
.CS_numbder hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
	
}

.CS_numbder li{
	width: 850px;
	margin-top: 5px;
	text-align: left;
	margin-left: 330px;
	list-style: none;
	font-size: 12pt;
}

/* 이용후기*/
.Review_cont{
	width: 900px;
	margin-left: -280px;
	margin-top: 40px;
}

.Review_cont hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid;
}

.Review_cont li{
	display: flex;
}

.Review_cont li h3{
	text-align: left;
	margin-left: 320px;
	margin-top: 60px;
	margin-bottom: -30px;
}

#review_write{
	margin-left: 1150px;
	width: 100px;
	height: 40px;
}

.detail_review{
	width: 1500px;
	display: flex;
}
.detail_review_ul{
	margin-left: 350px;
}

.detail_review_ul2{
	margin-left: 350px;
	margin-top: 30px;
	
}

.detail_review_ul2 li{
	text-align: right;
}
.detail_review_ul2 label{
	color: blue;
}

.detail_review p{
	margin-top: -15px;
}

.detail_review h5{
	margin-top: 20px;
}

.review_edit{
	margin-top: 10px;
	margin-right: 5px;
}
.review_del{
	margin-top: 10px;
	margin-left: 5px;
}
.review_recommend{
	margin-left: 1150px;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	display: flex;
	height: 30px;
	margin-top: -20px;
	margin-bottom: 15px;
}
.review_recommend IMG{
	margin-top: 2px;
}
.review_recommend p{
	margin-left: 1px;
	margin-top: 4px;
	font-size: 13pt;
	font-weight: lighter;
	color: #a8a8a8;
}
.review_form hr{
	width: 910px;
	margin-left: 350px;
	border: 1px solid lightgray;
}

.review_page{
	margin-left: 700px;
}
 .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  
  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all .5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  
  /* 임시 지정 */
  width: 100px;
  height: 100px;
  
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all .5s;
}