@charset "UTF-8";

.beauty_list{
	height: 100px;
	margin: 50px auto;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.beauty_list div{
	margin-right: 65px;
	position: relative;
	top: 0;
	transition: top 0.2s ease-in-out;
	border-radius: 10px;
}

.beauty_list p{
    margin-top: 0px;
}

.beauty_list img{
	position: relative;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.beauty_list a {
	text-decoration: none;
	color: black;
}

.beauty_list01{
	width:120px;
	margin-left: 100px;
	text-align: center;
}

.beauty_list02{
	width:120px;
	text-align: center;
}
.beauty_list03{
	width:120px;
	text-align: center;
}
.beauty_list04{
	width:120px;
	text-align: center;
}

.beauty_event{
	width: 80%;
	height: 150px;
	background-color: aqua;
	margin: 0 auto;
}

.beauty_list div:hover {
    top: -5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
