@charset "UTF-8";

#wrap {
	width: 1300px;
	margin: 0 auto;
}

#logo {
	height: 120px;
	border-radius: 10px 0px 0px 10px;
	display: flex;
}

.logoimg {
	width: 110px;
	height: 110px;
	margin-left: 60px;
	margin-top: 20px;
}

#logo h3 {
	margin-left: 20px;
	margin-top: 60px;
	font-size: 22px;
}

#top hr {
	margin-top: 40px;
}