	.mainEv{
		/*display: flex;*/
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
   		margin: 0 auto;
   		background-color: rgb(0, 128, 255);
	}
	
	.evMain{
		padding-top: 30px;
		padding-bottom: 10px;
		background-color: rgb(255, 128, 128);
	}
	
	
	.evFont{
		text-align: center;
	}
	
	.eventMsBox{
		background-color: rgb(0, 64, 0);
	}
	
    .eventMs {
		
		width: 1370px;
        height: 350px;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        margin: 0 auto;
      	background-color: coral;
    }

    .eventMs img {
        width: 615px;
        height: 350px;
        margin-right: 18x;
        object-fit: cover;
        display: block;
        border-radius: 20px;
    }

    .eventMs button {
        position: absolute;
        z-index: 50;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.5);
        border: none;
        top: 50%;
        transform: translateY(-50%);
    }

    .eventMs button:before {
        font-family: 'xeicon';
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .eventMs button.slick-prev {
        left: -1px;
        font-size: 0;
        color: transparent;
    }

    .eventMs button.slick-prev:before {
        content: "\e93d";
    }

    .eventMs button.slick-next {
        right: 5px;
        font-size: 0;
        color: transparent;
    }

    .eventMs button.slick-next:before {
        content: "\e940";
    }