@charset "UTF-8";

.reservationConfirmTable {
	font-family: Arial, sans-serif;
}

table {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
	margin-top: -10px;
}

th, td {
	border: 1px solid #000000;
	text-align: center;
	padding: 8px;
}