@charset "UTF-8";

.storeMainWrap {
	width: 1300px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;	/* 수평 중앙 정렬 */
	padding: 10px;
}

.storeStickyArea {
	width: 200px;
	height: 130px;
	position: sticky;
	z-index: 100;
}

.storeMain {
	border: 1px solid #000000;
}

.storeRegistrationMain, .storeMenuRegis, .storeInfoEdit {
	margin-bottom: 5px;
}

.storeRegistrationMain, .storeMenuRegis, .storeInfoEdit, .storeMenuEdit {
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
}

#storeContentArea {
	width: 950px;
	margin-left: 15px;
	margin-top: 10px;
}