.top {
   width: 1300px;
   height: 200px;
   margin-top: 30px;
   margin-left: 50px;
   margin: auto;
}

.nav_bar {
   
   margin-left: 120px;
   margin-top: 37px;
}

.top_nav2 {
   list-style: none;
   display: flex;
   margin-top: 0px;
   margin-bottom: 0px;
   float: right;
}

.top_nav2 li {
   height: 26px;
   width: 120px;
   margin-left: 0px;
   text-align: center;
   line-height: 26px;
}

.top_nav2 a {
   text-decoration: none;
   color: inherit;
}

.middle_line {
   clear: both;
   height: 100px;
   margin-left: 11px;
   margin-right: 60px;
}

.logo {
   height: 100px;
   width: 220px;
   float: left;
   position: relative;
   display: inline-block;
}

.logo img {
	height: 80px;
	width: 200px;
	margin-top: 0px;
	margin-left: 5px;
}

.index_search {
   height: 30px;
   width: 400px;
   border: hidden;
   margin-left: 20px;
   overflow: hidden;
   outline: none;
}

.search {
   height: 100px;
   width: 600px;
   float: left;
 
}

.search_bar {
   height: 50px;
   border: 1px solid black;
   margin-top: 25px;
   margin-left: 30px;
   margin-right: 100px;
   border-radius: 30px;
}

.searchButton {
   border: 0px;
   margin-top: 10px;
   height: 23px;
   background-color: white;
}

.searchIcon {
   height: 25px;
}

.search_input {
   float: left;
   margin-top: 10px;
}

.end_line {
   clear: both;
   margin-left: 11px;
   margin-right: 60px;
   height: 60px;
}

.end_line ul {
   list-style: none;
   display: flex;
   margin-top: 10px;
   padding-left: 0px;
}

.end_line li {
   height: 40px;
   width: 90px;
   margin-right: 50px;
   text-align: center;
   line-height: 30px;
}

.end_line i {
   display: block;
   height: 40px;
   width: 40px;
   float: left;
}

.end_line span {
   display: block;
   width: 32px;
   float: left;
   margin-top: 10px;
   margin-left: 5px;
}

.end_line img {
   height: 40px;
   width: 40px;
}

.end_line a {
   text-decoration: none;
   color: black;
}

.logo-popup {
   display: none;
   position: absolute;
   top: 100%;
   left: 80px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 10px;
   padding: 10px;
   width: 120px;
   z-index: 1;
}

.logo-popup ul {
   list-style: none;
   padding: 0;
}

.logo-popup li {
   margin: 5px 0;
}

/* 筌띾뜆�뒭占쎈뮞�몴占� 嚥≪뮄�� 占쎌뵠沃섎챷占� 占쎌맄嚥∽옙 占쎌궞占쎌죬占쎌뱽 占쎈르 占쎈솚占쎈씜占쎌뱽 占쎈ご占쎈뻻占쎈�占쎈빍占쎈뼄. */
.logo:hover .logo-popup {
   display: block;
}

.logo-popup a {
   text-decoration: none;
   color: black;
}

.logo-popup hr {
   color: black;
   opacity: 0.5;
}

.end_hr {
   opacity: 0.5;
   margin-top: -30px;
}

/* 筌욑옙占쎈열, 占쎄텊筌욑옙, 揶쏆빘�뼄.占쎌뵥占쎌뜚 野껓옙占쎄퉳筌∽옙 */
.search2 {
	border: 1px solid;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 1000px;
	height: 150px;
	position: relative;
}

.search2Destination {
	width: 250px;
	margin-left: 10px;
	border-right: 1px solid gray;
	padding: 5px;
}
.search2Date {
	width: 330px;
	margin-left: 15px;
	border-right: 1px solid gray;
	padding: 5px;
}
.search2Personnel {
	width: 280px;
	margin-left: 15px;
	padding: 5px;
}

.search2Destination2,
.search2Date2,
.search2Personnel2 {
	margin-top: 35px;
}

.search2Destination label,
.search2Date label,
.search2Personnel label {
	color: #808080;
	font-weight: bold;
	margin-bottom: 15px;
	display: block;
}

#destination {
	width: 130px;
	padding: 5px;
	color: black;
	font-size: 22px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
#date {
	width: 280px;
	padding: 5px;
	color: black;
	font-size: 22px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
.search2Personnel p {
	color: black;
	font-weight: bold;
	font-size: 20px;
	border: none;
}

.search2Button button {
	width: 95px;
	height: 45px;
	margin-top: 55px;
	margin-right: 20px;
	background-color: #0074d9;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

.accSearch {
	position: absolute;
	top: 190px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	display: none;
}

.personnel-controls {
  	position: absolute;
 	width: 110px;
 	height: 90px;
 	top: 190px;
 	border: 1px solid;
 	padding: 25px;
 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: none;
}
.personnelAdult {
	margin-bottom: 10px;
}
.personnelChild {
	margin-bottom: 10px;
}

.personnelAdult span,
.personnelChild span {
	font-size: 16px;
	font-weight: bold;
	color: black;
}