@charset "UTF-8";
#wrap {
   height: 100%;
   margin: 0 auto;
   display: flex;
}

#logo {
   width: 100%;
   height: 150px;
   border-radius: 10px 0px 0px 10px;
   display: flex;
   margin-left: -30px;
   
}
.logoImg{
   width: auto;
   height: auto;
   max-width: 40%;
   max-height: 40%;
   margin-left: 60px;
   margin-top: 20px;
   
}
#logo h3{
	margin-left: 20px;
   margin-top: 40px;
}

#page {
	display: flex;
	margin-left: 620px;
	margin-top: 20px;
	
	
}

#top hr{
	margin-top: 0px;
}
#menu{
	height: 100%;
	width: 20%;
	text-align: center;
	float: left;
}

#menu ul{
	list-style: none;
	margin-left: -40px;
}

#menu li{
	margin-bottom: 10px;
}



#menu .button{
	text-decoration: none;
	color: gray;
	
}

#menu .button:focus{
	color: black;
	font-weight: bolder;
}


#menu_cont{
	margin-left: 20px;
	
}

#menu_cont table{
	width: 700px;
}

#menu_cont #shop{
	width: 30%;
}

#menu_cont #cate{
	width: 20%;
}

#menu_cont #name{
	width: 20%;
}

#menu_cont #check{
	width: 20%;
}

#menu_cont td{
	text-align: center;
}