@charset "UTF-8";

.storeMainWrap {
	display: flex;
	/*align-items: center;*/		/* 수직 중앙 정렬 */
	justify-content: center;	/* 수평 중앙 정렬 */
	padding: 10px;
}

.storeStickyArea {
	width: 20%;
	position: sticky;
	top: 40px;
	z-index: 100;
}

.storeMain {
	border: 1px solid #000000;
	/*padding-left: 10px;*/
}

.storeRegistrationMain, .storeInfoEdit {
	margin-bottom: 5px;
}

.storeRegistrationMain, .storeInfoEdit, .storeMenuEdit {
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
}

#storeContentArea {
	width: 80%;
	padding: 10px;
	/* background-color: #ffd2da; */
}